.carousel_skeleton {
    width: 100%;
    height: 100px;
    .shimmer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(100deg,
                rgba(255, 255, 255, 0) 20%,
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 80%);

        animation: shimmer 2s infinite linear;

        @keyframes shimmer {
            from {
                transform: translateX(-200%);
            }

            to {
                transform: translateX(200%);
            }
        }
    }
}