@import '@/_var.scss';

.section {
  margin-bottom: 10px;
  padding: 15px 0px;
  width: 100%;
  position: relative;

  .cards_wrapper{
    width: 100%;
    position: relative;
    .arrow_container {
        position: absolute;
        top: 7px;
        bottom: 7px;
        background-color: rgba(0, 0, 0, .3);
        width: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    
        .arrowbox {
          height: 18px;
          width: 18px;
          transform: rotate(45deg);
          border-width: 3px;
          border-style: solid;
          border-color: transparent;
        }
    
        &.left_arrow_container {
          left: 0px;
    
          .arrowbox {
            border-bottom-color: #fff;
            border-left-color: #fff;
          }
        }
    
        &.right_arrow_container {
          right: 0px;
    
          .arrowbox {
            border-top-color: #fff;
            border-right-color: #fff;
          }
        }
      }
    .cards {
        transition: all .6s ease-in-out;
        position: relative;
        @include sections;
    }
  }
}



