@import '@/_var.scss';
*{
    margin:0;
    padding:0;
    font-family: $font-family-primary;
    box-sizing: border-box;
}

body {
    .hasGradient {
        background-image: linear-gradient(180deg,#141414,hsla(0,0%,8%,.35) 59%,hsla(0,0%,8%,0)) !important;
        // background: transparent !important;
    }
    background: #141414;
    .home-banner {
        .slick-slider {
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                height: 36%;
                background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 5%, hsla(0, 0%, 8%, .4) 35%, hsla(0, 0%, 8%, .73) 78%, #141414);
            }
        }

        li.slick-active {
            div {
                width: 14px;
                height: 14px;
                background-color: #fff !important;
            }
        }
    }

}
