@import '@/_var.scss';
*{
    margin:0;
    padding:0;
    font-family: $font-family-primary;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #0f0f1c;
    // /* Hide scrollbar for Chrome, Safari and Opera */
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    // /* Hide scrollbar for IE, Edge and Firefox */
    // -ms-overflow-style: none;  /* IE and Edge */
    // scrollbar-width: none;  /* Firefox */
    .hasGradient {
        background-color: transparent !important;
        position: relative;
        &::after {
            content: '';
            background-image: linear-gradient(180deg,#141414,hsla(0,0%,8%,.35) 59%,hsla(0,0%,8%,0)) !important;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100px;
            z-index: -1;
        }
    }
    // background: #141414;
    // .home-banner {
        .slick-slider {
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                height: 36%;
                background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 5%, hsla(0, 0%, 8%, .4) 35%, hsla(0, 0%, 8%, .73) 78%, #141414);
            }
        }
    // }

    li.slick-active {
        div {
            width: 14px;
            height: 14px;
            background-color: #fff !important;
        }
    }

    .Loader{
        height:75px;
        width:75px;
        border-radius:50%;
        position: absolute;
        left: 50%;
        top: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;

        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
          }
          
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }
    }



}
