//https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
.header_container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    overflow: hidden;

    .header_top {
        background-color: #141414;

        .header_topinner {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 34px;
            padding: 0px 68px;

            .content {
                font-family: 'Poppins', sans-serif;
                width: fit-content;
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                cursor: pointer;
                display: flex;
                align-items: center;
                letter-spacing: 0.5px;
                margin-left: 25px;
                opacity: 0.75;

                img {
                    background: none;
                }
            }

            .languages {
                .text {
                    margin: 0px 5px;
                }

                .downarrow {
                    height: 8px;
                    width: 8px;
                    transform: rotate(45deg);
                    border-right: 2px solid #ffffffbf;
                    border-bottom: 2px solid #ffffffbf;
                    margin-left: 5px;
                }
            }
        }
    }

    .header_bottom {
        height: 62px;
        padding: 0.1px;

        .header_bottominner {
            // margin: 0px 58px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0px 58px;
            background: #222;

            .headerbottom_left {
                display: flex;
                align-items: center;

                .logo {
                    img {
                        width: 56px;
                        height: 45px;
                        align-items: center;
                    }
                }
            }

            .headerbottom_right {
                .others {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;

                    .otherbtns {
                        font-size: 14px;
                        color: #ffffffbf;
                        margin: 0px 5px;
                        width: 60px;
                        text-align: center;
                        text-transform: uppercase;
                        height: 62px;
                        line-height: 62px;

                    }

                    .search {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 50px;

                        a {
                            display: flex;
                            align-items: center;
                        }

                        img {
                            margin-right: 0px;
                            border-right: 1px solid #ffffffbf;
                            padding: 2px 15px;
                        }
                    }

                    .pricing {
                        span {
                            border-right: 1px solid #ffffffbf;
                            padding: 0px 8px;
                        }
                    }

                    .authcontainer {
                        .authbtn {
                            color: #ffffffbf;
                            padding: 0px 10px;
                        }

                        .signinbtn {
                            color: #ffffffbf;
                        }

                        .signupbtn {
                            color: #ffffffbf;
                        }

                        .authactivebtn {
                            color: #fff;
                            background-color: #d99200;
                            padding: 8px 15px;
                        }

                    }
                }
            }
        }
    }

}