@use "sass:math";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

$font-family-primary: "Poppins", sans-serif;
$font-family-seconday: "Lato", sans-serif;
$font-awesome: "FontAwesome";
$section-padding-left: null !default;

@mixin sections {
    padding: 0px 48px;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    @media only screen and (max-width: 1440px) {
        padding: 0px 48px;
    }

    @media only screen and (max-width: 1366px) {
        padding: 0px 48px
        // padding: 0px;
        // padding-left: 48px;
    }

    @media only screen and (max-width: 1199px) {
        padding: 0px 20px;
    }

    @media only screen and (max-width: 1024px) {
        padding: 0px 20px;
    }

    @media only screen and (max-width: 991px) {
        padding: 0px 10px;
    }

    @media only screen and (max-width: 950px) {
        padding: 0px 10px;
    }

    @media only screen and (max-width: 767px) {
        padding: 0px 10px;
    }

    @media only screen and (max-width: 576px) {
        padding: 0px 10px;
    }

    @media only screen and (max-width: 480px) {
        padding: 0px 15px;
    }

    @media only screen and (max-width: 425px) {
        padding: 0px 15px;
    }

    @media only screen and (max-width: 380px) {
        padding: 0px 15px;
    }

    @media only screen and (max-width: 320px) {
        padding: 0px 15px;
    }
}

@mixin getcardwidth($card-margin, $no-of-cards) {
    $avaliable-width: calc(100% + 48px - $card-margin * 2 * math.floor($no-of-cards));
    $card-width: calc($avaliable-width / $no-of-cards);
    min-width: $card-width;
    width: $card-width;
    margin: $card-margin;
}

@mixin cardwidth($cardType) {
    @if $cardType ==overlayposter {
        @include getcardwidth(10px, 6.15);
    }

    @media only screen and (max-width: 1366px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(7px, 5.2);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(10px, 8.15);
        }
    }

    @media only screen and (max-width: 1199px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(7px, 5.1);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(10px, 6.5);
        }
    }

    @media only screen and (max-width: 1024px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(14px, 4.1);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(10px, 6.5);
        }
    }

    @media only screen and (max-width: 991px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(7px, 4);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(10px, 4.5);
        }
    }

    @media only screen and (max-width: 950px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(4px, 3);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(4px, 4.5);
        }
    }

    @media only screen and (max-width: 767px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(4px, 3);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(4px, 5);
        }
    }

    @media only screen and (max-width: 576px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(4px, 2);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(4px, 4.02);
        }
    }

    @media only screen and (max-width: 480px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(4px, 2);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(4px, 3.05);
        }
    }

    @media only screen and (max-width: 425px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(4px, 2);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(4px, 3.05);
        }
    }

    @media only screen and (max-width: 380px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(4px, 2);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(4px, 3.05);
        }
    }

    @media only screen and (max-width: 320px) {
        @if $cardType ==overlayposter {
            @include getcardwidth(4px, 2);
        }

        @else if $cardType ==roller_poster {
            @include getcardwidth(4px, 3.05);
        }
    }
}


@mixin ellipse {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin breakpoint($width) {
    @media (max-width: $width) {
            @content ;
    }
    // @if $point ==below-big {
    //     @media (max-width: 1900px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==desktop-big {
    //     @media (min-width: 1441px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==mac {
    //     @media (max-width: 1440px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==laptop {
    //     @media (max-width: 1366px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==desktop-small {
    //     @media (max-width: 1199px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==tablet-portrait {
    //     @media (max-width: 1024px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==tablet {
    //     @media (max-width: 991px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==mobile {
    //     @media (max-width: 767px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==mobile-big-land {
    //     @media (max-width: 640px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==mobile-small {
    //     @media (max-width: 576px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==mobile-common-land {
    //     @media (max-width: 480px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==mobile-common {
    //     @media (max-width: 360px) {
    //         @content ;
    //     }
    // }

    // @else if $point ==mobile-x-small {
    //     @media (max-width: 320px) {
    //         @content ;
    //     }
    // }
}