@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$font-family-primary: 'Poppins', sans-serif;
$font-family-seconday: 'Lato', sans-serif;
$font-awesome:'FontAwesome';